body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.barrio {
    position: relative;
    width: 100%;
    height: 100vh; /* Toma el 100% de la altura de la pantalla */
    background-image: url('Barrio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.texto-superpuesto h1 {
    font-size: 3em;
    margin: 0;
}

.texto-superpuesto h2 {
    font-size: 1.5em;
    margin: 0;
}

